<form name="myForm" novalidate class="form-horizontal">
  <p>
    {{"password-rules" | L10n}}
  </p>

  <table id="passwordTable">
    <tr>
      <th>{{"Login ID" | L10n}}</th>
      <th>{{"Old Password" | L10n}}</th>
      <th>{{"New Password" | L10n}}</th>
      <th>{{"Retype New Password" | L10n}}</th>
    </tr>
    <tr ng-repeat-start="sysUser in pax.sysUsers">
      <td>{{sysUser.sysUserName}}</td>
      <td>
        <input class="form-control password" type="password"
          ng-model="sysUser.oldPassword"/>
      </td>
      <td>
        <input class="form-control password" type="password"
          ng-model="sysUser.newPassword"
          ng-blur="checkPasswordMatch(sysUser)"/>
      </td>
      <td>
        <input class="form-control password" type="password"
          ng-model="sysUser.retypedPassword"
          ng-blur="checkPasswordMatch(sysUser)"/>
      </td>
      <td>
        <button ng-click="changePassword(sysUser)"
          ng-disabled="!isValidPasswordChange(sysUser)">
          {{"Change Password" | L10n}}
        </button>
        <span class="text-danger" ng-show="sysUser.passwordExpired">
          must change
        </span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td colspan="3">
        <div class="alert alert-danger fade in" ng-show="sysUser.err">
          {{sysUser.err}}
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td colspan="3">
        <!-- TODO: Need a new property that gives the date
          of the last change, not when it expires. -->
        <span ng-switch="sysUser.sysUserPasswordDate">
          <span ng-switch-when="null">{{"never updated" | L10n}}</span>
          <span ng-switch-default>
            {{"last changed on" | L10n}} {{sysUser.sysUserPasswordDate | date:'M/d/yyyy'}}
          </span>
        </span>
      </td>
    </tr>
    <tr ng-repeat-end><td>&nbsp;</td></tr>
  </table>

  <br/>
  <p><b>
    Your password hint will be displayed on the login page
    when you click the "Forgot your password?" link.
  </b></p>

  <div class="form-group">
    <label class="col-sm-2 control-label">{{"Password Hint" | L10n}}</label>
    <div class="col-sm-3">
      <input class="form-control" type="text" ng-model="pax.passwordHint"/>
      <p>
        {{"Your hint may not contain any of your passwords." | L10n}}
      </p>
    </div>
  </div>
</form>
