    <!-- This content is from content/partials/scripts.html. -->
    <script src="lib/quirksmode-browser-detect.js"></script>
    <script src="lib/jquery-1.10.1.min.js"></script>
    <script src="lib/jquery.dynatree-1.2.5-rc4-all/jquery/jquery-ui.custom.min.js"></script>
    <script src="lib/jquery.dynatree-1.2.5-rc4-all/dist/jquery.dynatree.min.js"></script>
    <!--script src="lib/angularjs-1.2.2/angular.min.js"></script-->
    <script src="lib/angularjs-1.2.2/angular.js"></script>
    <script src="lib/angular-ui-router.js"></script>
    <script src="lib/bootstrap-3.0.0/js/bootstrap.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script src="lib/tmhDynamicLocale.js"></script>
    <script src="lib/twitter-typeahead/typeahead.min.js"></script>
    <script src="scripts/browser-check.js"></script>
