    <!-- This content is from content/partials/shims.html. -->
    <!-- Comments cannot be nested inside the conditional comment,
         so all were moved here:
         ie8EventShim.js is from https://github.com/jwmcpeak/EventShim
         es5-shim.min.js is from https://github.com/kriskowal/es5-shim
         respond.min.js is from https://github.com/scottjehl/Respond
    -->
    <!--[if lte IE 8]>
      <script>
        if (!window.console) window.console = {log: function () {}};
      </script>

      <script src="lib/arrayextras.js"></script>

      <script src="lib/ie8EventShim.js"></script>

      <script src="lib/es5-shim.min.js"></script>

      <script src="lib/Respond-master/respond.min.js"></script>
    <![endif]-->
